/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

.comfortaa {
	font-family: "Comfortaa", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

:root {
	--primary: chocolate;
}

/* CSS RESET */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
	font-family: "Comfortaa", sans-serif;
}

.container {
	display: flex;
	width: 100vw;
	height: 100vh;
}

.left-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 50%;
	background-color: var(--primary);
}

.left-container>p {
	opacity: 0.8;
	color: white;
}

.right-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	width: 50%;
	padding: 0 5vw;
	gap: 2em;
}

form {
	display: flex;
	flex-direction: column;
	gap: 2em;
}

.form-container {
	display: flex;
	gap: 1.5em;
}

.left-side-form {
	display: flex;
	flex-direction: column;
}

.right-side-form {
	display: flex;
	flex-direction: column;
}

input {
	height: 2em;
	width: 12vw;
	margin-bottom: 1.5em;
}

input#password,
input#confirm-password {
	margin-bottom: 0;
}

input:focus-visible {
	outline: 2px solid var(--primary);
	border: 0;
	border-radius: 2px;
}

input:user-invalid {
	outline: 1px solid #FF0000;
	border: 0;
	border-radius: 2px;
}

input:valid {
	outline: 1px solid #26c726;
	border: 0;
	border-radius: 2px;
}

.right-container>h1 {
	font-size: 1.5em;
	font-weight: 600;
}

button {
	background-color: var(--primary);
	border: none;
	border-radius: 5px;
	color: white;
	font-weight: bold;
	padding: 0.8em 1em;
	max-width: 10vw;
}

button:hover {
	background-color: rgb(230, 129, 58);
	cursor: pointer;
}

a {
	color: var(--primary);
	font-weight: bold;
	text-decoration: none;
}

label {
	display: block;
}

span {
	color: red;
}
